
td { border: 0.5px solid red;}
#abcxyz { border: hidden;
}
.red2 { background: red}
.yellow { background: yellow}
.blue2 { background: blue}
.cred {color: red}
.cblue {color: blue}
table { text-align :center;}
p { text-align : center;}
caption { text-align : center;}

